name: Run Smoke Tests
description: Performs quick running tests to check for basic errors
on:
  workflow_call:
    inputs:
      dev_image_tag:
        required: true
        type: string
      head_sha:
        required: true
        type: string
      number_of_commits:
        required: true
        type: number

concurrency:
  group: smoke-${{ inputs.head_sha }}
  cancel-in-progress: true

jobs:
  check-format:
    uses: ./.github/workflows/format.yml
    with:
      head_sha:          ${{ inputs.head_sha }}
      dev_image_tag:     ${{ inputs.dev_image_tag }}
      number_of_commits: ${{ inputs.number_of_commits }}

  build-and-test-linux:
    name: "Build and test"
    timeout-minutes: 40
    runs-on: ${{ matrix.runner }}
    env:
      SCCACHE_BUCKET: ${{ secrets.VCPKG_BINARY_S3_BUCKET }}
      SCCACHE_ENDPOINT: ${{ secrets.VCPKG_BINARY_S3_ENDPOINT }}
      SCCACHE_REGION: auto
      SCCACHE_S3_USE_SSL: true
      SCCACHE_S3_KEY_PREFIX: sccache
      AWS_ACCESS_KEY_ID: ${{ secrets.VCPKG_BINARY_S3_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.VCPKG_BINARY_S3_SECRET }}
    strategy:
      fail-fast: false
      matrix:
        arch: [ x64 ]
        stdlib: [ 'libcxx' ]
        build_type: [ 'RelWithDebInfo' ]
        sanitizer: [ 'none' ]
        include:
          - arch: x64
            runner: [ "ubuntu-24.04" ]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.head_sha }}
      - uses: ./.github/steps/prepare-github
        name: Preparing Github Runners
        with:
          image_name: nebulastream/nes-development:${{ inputs.dev_image_tag }}-${{ matrix.stdlib }}-${{ matrix.sanitizer }}
      - uses: ./.github/steps/run-in-container
        name: CMake Build
        with:
          image_name: nebulastream/nes-development:${{ inputs.dev_image_tag }}-${{ matrix.stdlib }}-${{ matrix.sanitizer }}
          run: |
            source .github/.env/test-${{matrix.sanitizer}}.env
            export SCCACHE_IDLE_TIMEOUT=0
            sccache --start-server
            cmake -GNinja -B build -DUSE_SANITIZER=${{ matrix.sanitizer }} -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} -DNES_LOG_LEVEL=DEBUG
            cmake --build build -j  -- -k 0
            echo "=== sccache Statistics ==="
            sccache --show-stats || echo "sccache stats not available"
      - uses: ./.github/steps/run-in-container
        name: Run Tests
        with:
          image_name: nebulastream/nes-development:${{ inputs.dev_image_tag }}-${{ matrix.stdlib }}-${{ matrix.sanitizer }}
          run: |
            source .github/.env/test-${{matrix.sanitizer}}.env
            ctest --test-dir build -j --output-on-failure --output-junit build/junit.xml --timeout 1200 ${ADDTIONAL_CTEST_ARGS}
      - name: Upload Test Logs on Failure
        uses: actions/upload-artifact@v4
        # Upload all log and stats files if any of the tests has failed.
        if: ${{ failure() && !github.event.act }}
        with:
          name: logs-${{ matrix.arch }}-${{ matrix.stdlib }}-${{ matrix.sanitizer }}-${{ matrix.build_type }}
          path: |
            build/**/*.log
            build/**/*.stats
      - name: Upload test results to Codecov
        if: ${{ !cancelled() && !github.event.act }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: ${{ matrix.arch }},${{ matrix.stdlib }},${{ matrix.sanitizer }},${{ matrix.build_type }}
          file: build/junit.xml
      - name: Upload Test Summary
        uses: actions/upload-artifact@v4
        if: ${{ failure() && !cancelled() && !github.event.act }}
        with:
          name: junit-${{ matrix.arch }}-${{ matrix.stdlib }}-${{ matrix.sanitizer }}-${{ matrix.build_type }}.xml
          path: build/junit.xml
